'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Symbols'
      'submenu': [
        {'label': 'File Symbols', 'command': 'symbols-view-plus:toggle-file-symbols'}
        {'label': 'Project Symbols', 'command': 'symbols-view-plus:toggle-project-symbols'}
      ]
    ]
  }
]

'context-menu':
  'atom-text-editor:not([mini])': [
    {'label': 'Go to Declaration', 'command': 'symbols-view-plus:go-to-declaration'}
  ]
